* {
  box-sizing: border-box;
}

body {
  font-family: 'Anuphan', sans-serif;
  background-color: #1F2029;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  width: 100%;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 40px;
  font-size: 2.5em;
}

.booking-info p {
  font-size: 1.2em;
  margin: 20px 0;
  color: #333;
}

.button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #711AFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background-color: #aa35f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.booked-seats {
  margin-top: 40px;
}

.booked-seats h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  color: #1F2029;
  border-bottom: 1px solid #E5E7EF;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar .logo {
  max-height: 80px;
  width: auto;
  margin-right: 20px;
}
